.customer-reviews {
    padding: 2rem 0;
    text-align: center;
    max-width: 100%; 
    width: 100%;
    margin: 0 auto;
   
  }
  .customer-reviews h2{
    font-weight: bold;
  }
  
  .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    /* background-color: #f1f0e9; */
    height: auto;
    width: 100%;
    box-sizing: border-box;

  }
  
  .review-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .review-content {
    max-width: 250px; 
  }
  
  .review-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .rating {
    color: #FFD700; 
    font-size: 1rem;
  }
  
  .review-text {
    font-size: 1rem;
    font-style: italic;
    margin: 1rem 0;
  }
  /* .slick-slider{
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  } */
  .reviews-wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

  