.layout-container {
  display: flex;
  height: 100vh;
  margin-top: 80px; /* Reduce if header is smaller */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side_bar {
  width: 220px;
  background-color: #b89448;
  color: white;
  padding: 25px 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.side_bar h2 {
  color: #ffffff;
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.side_bar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:80px;
}

.side_bar nav ul li {
  margin: 20px 0;
}

.side_bar nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fdf9f9;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.side_bar nav ul li a:hover {
  background-color:  #866828;
  transform: translateX(5px);
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 30px;
  background-color: #f7f9fc;
  overflow-y: auto;
}
