.home {
  padding-top: 80px; 
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
}

.home__hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.home__image {
  /* width: 1600px; */
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 30px;
  background-color: white;
}

.home__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.home__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.home__search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home__search-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  color: black;
  font-weight: bold;
}

.home__search-button {
  background-color:#e9c111; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.home__search-button:hover {
  background-color: #e0ad14; 
  color: white;
}
.home__results {
  margin-top: 550px;
  padding: 40px;
  display:flex;
  position:absolute;
  gap: 30px;
  /* background: #f4f4f4; */
}

.home__result-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.home__results .viewb {
  background-color: rgb(219, 180, 6);
  color: hsl(0, 0%, 29%);
  border-radius: 10px;
  width: 120px; 
  height: 30px;
  font-size: 18px;
  text-decoration: none;
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  padding: 8px 12px; 
}

.home__results .viewb:hover {
  background-color: #ebc82d;
  color: hsl(0, 0%, 29%);
  font-weight: bold;
}

.result-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #fafafa;
  font-weight: bold;
}


