.property-listing {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(148, 139, 115, 0.3); */
  border-radius: 0 0  0 150px;
  
 
}
.property-listing h1{
  font-size: 2rem;
  
}


.property-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}


.property-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  width: 80%;
  padding: 10px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  
}

.property-cardd {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0rem;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #fcfaf6;
  /* width: 50%; */
}

.property-card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
  border-radius: 50%;
}

.property-info {
  padding: 1rem;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #585143;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #ac7f2b;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.view-more-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.view-more-btn {
  padding: 0.75rem 1.5rem;
  background-color: #f1b307;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-more-btn:hover {
  background-color: #daa209;
  color: white;
}

@media (max-width: 1200px) {
  .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .property-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .property-grid {
    grid-template-columns: 1fr;
  }
}
